<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
	<script src="vue.min.js"></script>
	<script src="lodash.js"></script>
	<style>body{min-height: 95vh}</style>
	<script>
		//data={
			photos=[
				{
					name: "Photo 1",
					description: "Описание 1",
					src: "photo1.jpg" 
				},
				{
					name: "Photo 2",
					description: "Описание 1",
					src: "photo2.jpg" 
				},
				{
					name: "Photo 3",
					description: "Описание 3",
					src: "photo3.jpg" 
				},
				{
					name: "Photo 4",
					description: "Описание 4",
					src: "photo4.jpg" 
				},
				{
					name: "Photo 5",
					description: "Описание 5",
					src: "photo5.jpg" 
				}
			]
		//}



		function playAnimation(style,...arg){
			_(arg)
				.chunk(2)
				.reverse()
				.reduce(
					(next,[duration=.05,addStyle={}]=[])=>{
						return ()=>{
							style.transition="all "+duration+"s"
							Object.assign(style,addStyle)
							if (next) setTimeout(next,1000*(duration||.05))
						}
					}
			,null)()
		}

		window.onload=()=>{

			Vue.component('gallery', {
				template: 
				`<div>
						<gallery-item v-for="(item, i) in images" ref=item :index="i" :image="images[i]"></gallery-item>
						<gallery-viewport v-for="(item, i) in images" ref=view :index="i" :image="images[i]"></gallery-viewport>
				</div>
				`,
				props: ["images"],
				methods:{
					next: function(){
						this.chose(this.current+1)
					},
					prev: function(){
						this.chose(this.current-1)
					},
					chose: function(index){
						this.current=index
						for(var i=index-2; i<index+3; i++){
							if(this.$refs.view[i]){
								this.$refs.item[i].setState( (i==index) ? "turned" : "start")
								this.$refs.view[i].setState( this.viewStates[i-index+2] || "collapse" )
							}
						}
					},
					close: function(){
						for(var i=0; i<5; i++){
							if(this.$refs.view[i]){
								this.$refs.view[i].setState( "collapse" )
								this.$refs.item[i].setState( "start" )
							}
						}
					}
				},
				data: ()=>({ 
					current: 0,
					viewStates: ["hiddenLeft","left","expand","right","hiddenRight"]
				}),
				created: function(w){

				},
				beforeMount: function(w){
					
				}
			});


			Vue.component('gallery-item', {
				template:
				`<div :style="styleItem" @click="click">{{image.name}}</div>`,

  				props: ['index','image'],

				methods:{
					click:function(e){
						this.$parent.chose(this.index)
					},
					setState:function(newState){
						var styles=this.statesItem,
							oldState=this.state

						this.state=newState

						if(oldState=="start" && newState=="turned"){
							playAnimation(this.styleItem, 
								0, styles.start,
								0.4, styles.turned)
							return
						}
						if(oldState=="turned" && newState=="start"){
							playAnimation(this.styleItem, 
								.8, styles.turned,
								0.4, styles.start)
							return
						}
						playAnimation(this.styleItem, 
							0.4, styles[newState])
					}
				},
				data: function(){
					return {
						state:"start",
						styleItem:{
							width: "18%",
							height: "300px",
							border: "1px solid #000",
							float: "left",
							margin: "1%",
							boxSizing: "border-box",
							transform: "",
							cursor: "pointer",
							background:"#000 url('"+this.image.src+"')",
							backgroundSize: "cover"
						},
						statesItem:{
							start:{
								transformOrigin: "50% 50%",
								transform: "perspective(1500px) rotateY(0deg)",
								//transitionTimingFunction:"linear"
							},
							turned:{
								transform: "perspective(1500px) rotateY(90deg)",
								//transitionTimingFunction:"linear"
							}
						}
					}
				}
			});




			Vue.component('gallery-viewport', {
				template:
				`<div>
					<div
					:style="styleViewport"
					@contextmenu.shift.stop.prevent="next"
					@contextmenu.ctrl.stop.prevent="prev">
						<div :style="styleFrame" alt="Image"></div>
						<div :style="styleOverlay" @click=" state=='left' ? prev() : next() "></div>
						<div 
						style="
							background:rgba(255,255,255,0.7);
							position:absolute;
							right:0;
							top:0;
							padding:15px 20px;
							cursor:pointer;
							font:800 40px/1 sans-serif;
							text-shadow:0 0 2px white"
						@click="close">
							X
						</div>
					</div>
				</div>`,

  				props: ['index','image'],

				methods: {
					next:function(e){
						this.$parent.next()
					},
					close:function(e){
						this.$parent.close()
					},
					prev:function(e){
						this.$parent.prev()
					},
					setState:function(newState){
						var oldState=this.state,
							styles=this.statesViewport

						this.state=newState

						if(oldState=="collapse" && newState=="expand"){
							playAnimation(this.styleViewport, 
								0, styles.collapse, 
								0.45, styles.collapse, 
								0.4, styles.coverCard, 
								0.4, styles.expand)
							return
						}
						if(oldState=="expand" && newState=="collapse"){
							playAnimation(this.styleViewport, 
								0, styles.expand,
								0.4, styles.coverCard, 
								0.4, styles.collapse)
							return
						}
						if(oldState=="expand" && newState=="left"){
							playAnimation(this.styleViewport, 
								0.5, styles.expand,
								0, styles.hiddenLeft, 
								0.5, styles.left)
							return
						}
						if(oldState=="expand" && newState=="right"){
							playAnimation(this.styleViewport, 
								0.5, styles.expand,
								0, styles.hiddenRight, 
								0.5, styles.right)
							return
						}
						if((oldState=="left" || oldState=="right") && newState=="expand"){
							playAnimation(this.styleViewport, 
								0.7, styles.expandCircle,
								0.01, styles.expand)
							return
						}
						if(oldState=="collapse" && newState=="left"){
							playAnimation(this.styleViewport, 
								1.5, styles.hiddenLeft, 
								0.5, styles.left)
							return
						}
						if(oldState=="collapse" && newState=="right"){
							playAnimation(this.styleViewport,
								1.5, styles.hiddenRight, 
								0.5, styles.right)
							return
						}
						playAnimation(this.styleViewport, 
							0.5, styles[newState])
					}
				},
				data: function(){
					return {
						state:"collapse",
						styleViewport: {
							position: "fixed", 
							transformOrigin:"top left",
							//transitionTimingFunction: "linear",
							clipPath: "polygon(0px 0px)",
							clip: "rect(0px,0px,0px,0px)",
							top: "0px", 
							left: "0px", 
							right: "0px", 
							bottom: "0px" },
						styleFrame: { 
							width: window.innerWidth+"px", 
							height: window.innerHeight+"px", 
							background:"#000 url('"+this.image.src+"')", 
							backgroundSize: "cover" },
					}
				},
				computed:{
					statesViewport:function(){
						var coords=this.$parent.$refs.item[this.index].$el.getClientRects()[0]
						return{
							collapse:{
								clipPath:"polygon("
									+(coords.left+coords.width/2)+"px "+(coords.top+15)+"px,"
									+(coords.left+coords.width/2)+"px "+(coords.top-15)+"px,"
									+(coords.left+coords.width/2)+"px "+(coords.top+coords.height+15)+"px,"
									+(coords.left+coords.width/2)+"px "+(coords.top+coords.height-15)+"px)",
								
    							clip: "rect("
									+(coords.top-15)+"px,"
									+(coords.right-coords.width/2)+"px,"
									+(coords.bottom+15)+"px,"
									+(coords.left+coords.width/2)+"px)",

								//transitionTimingFunction:"linear"

							},
							coverCard:{ 
								clipPath:"polygon("
									+(coords.left)+"px "+(coords.top)+"px,"
									+(coords.left+coords.width)+"px "+(coords.top)+"px,"
									+(coords.left+coords.width)+"px "+(coords.top+coords.height)+"px,"
									+(coords.left)+"px "+(coords.top+coords.height)+"px)",
								
								
    							clip: "rect("
									+(coords.top)+"px,"
									+(coords.right)+"px,"
									+(coords.bottom)+"px,"
									+(coords.left)+"px)",

								//transitionTimingFunction:"linear"
							},
							expand:{
								clipPath:"polygon(0px 0px,100% 0px,100% 100%,0px 100%)",
    							clip: "rect("
									+(0)+"px,"
									+(window.innerWidth)+"px,"
									+(window.innerHeight)+"px,"
									+(0)+"px)",
								zIndex:0,
							},
							expandCircle:{
								clipPath:"circle(100% at center center)",
    							clip: "rect("
									+(-window.innerHeight*2)+"px,"
									+(window.innerWidth*2)+"px,"
									+(window.innerHeight*2)+"px,"
									+(-window.innerWidth*2)+"px)",
								zIndex:1,
							},
							left:{
								clipPath:"circle(20px at 2.5% center)",
    							clip: "rect("
									+(window.innerHeight/2-20)+"px,"
									+(window.innerWidth/100*2.5+20)+"px,"
									+(window.innerHeight/2+20)+"px,"
									+(window.innerWidth/100*2.5-20)+"px)",
								zIndex:2,
							},
							right:{
								clipPath:"circle(20px at 97.5% center)",
    							clip: "rect("
									+(window.innerHeight/2-20)+"px,"
									+(window.innerWidth/100*97.5+20)+"px,"
									+(window.innerHeight/2+20)+"px,"
									+(window.innerWidth/100*97.5-20)+"px)",
								zIndex:2,
							},
							hiddenLeft:{
								clipPath:"circle(0px at 2.5% center)",
    							clip: "rect("
									+(window.innerHeight/2)+"px,"
									+(window.innerWidth/100*2.5)+"px,"
									+(window.innerHeight/2)+"px,"
									+(window.innerWidth/100*2.5)+"px)",
								zIndex:2,
							},
							hiddenRight:{
								clipPath:"circle(0px at 97.5% center)",
    							clip: "rect("
									+(window.innerHeight/2)+"px,"
									+(window.innerWidth/100*97.5)+"px,"
									+(window.innerHeight/2)+"px,"
									+(window.innerWidth/100*97.5)+"px)",
								zIndex:2,
							}
						}
					},
					styleOverlay: function(){
						return {
							display: (this.state=="left"||this.state=="right") ? "block" : "none",
							position: "fixed", 
							top: "0px", 
							left: "0px", 
							right: "0px", 
							bottom: "0px",
							cursor: "pointer",
							zIndex: 4
						}
					}

				}
			});



			a=new Vue({ el: 'app' })
		}
	</script>
</head>
<body>
	<app>
		<gallery :images="photos" ref="q"></gallery>
	</app>
</body>
</html>